.article {
	padding: 2%;
	margin-bottom: 2%;
	background-color: lightgray;
	border-radius: 25px;
	background-color: #171615;

	&__title {
		margin-bottom: 2%;
		font-size: bold;
		font-size: 30px;
		color: #fff;
	}
}