.c-chart {
	position: relative;
	margin: 0 auto;
	max-width: 60%;

	&__path {
		stroke: #4C4338;
		fill: none;
		stroke-width: 2.8;
		stroke-linecap: unset;
		
		&_animated {
			animation: c-progress 1s ease-out forwards;
		}
		&_red {
			stroke: #C00000;
		}
		&_green {
			stroke: #91D400;
		}
		&_white {
			stroke: #fff;
		}
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 20px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: bold;

		&_red {
			color: #C00000;
		}
		&_green {
			color: #91D400;
		}
		&_white {
			color: #fff;
		}
	}
	&__percent {
		font-size: 30px;
	}
}

@keyframes c-progress {
	0% {
		stroke-dasharray: 0 100;
	}
}