@import "var";
@import "bootstrap";
@import "lobby/lobby";
@import "article";
@import "circular-chart";

html, body {
	background-color: #343a40;
	font-family: 'Open Sans', sans-serif;
}

.header {
	margin-bottom: 20px;
}
.navbar {
	background-color: #171615;
}
.main {
	min-height: 100vh;
}
.block	{
	background-color: #eee;
	border: 1px solid $gray;
}