extends ./tpl/layout

block page
	.container
		.article.article_black
			.article__title.article__title_white
				| Cricle svg diagrams
			.article__content
				.row
					.col-12.col-md-4
						.c-chart
							svg(class="c-chart__image" viewbox="0 0 36 36")
								path(class="c-chart__path" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" fill="none")
								path(class="c-chart__path  c-chart__path_animated  c-chart__path_red" stroke-dasharray="40, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" fill="none")
							.c-chart__text.c-chart__text_red
								| Красный
								.c-chart__percent
									| 40%
					.col-12.col-md-4
						.c-chart
							svg(class="c-chart__image" viewbox="0 0 36 36")
									path(class="c-chart__path" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" fill="none")
									path(class="c-chart__path  c-chart__path_animated  c-chart__path_white" stroke-dasharray="50, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" fill="none")
								.c-chart__text.c-chart__text_white
									| Черный
									.c-chart__percent
										| 50%
					.col-12.col-md-4
						.c-chart
							svg(class="c-chart__image" viewbox="0 0 36 36")
									path(class="c-chart__path" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" fill="none")
									path(class="c-chart__path  c-chart__path_animated  c-chart__path_green" stroke-dasharray="10, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" fill="none")
								.c-chart__text.c-chart__text_green
									| Зеленый
									.c-chart__percent
										| 10%
		
		.article
			.article__title
				| Svg sprite exmaple
			.article__content
				svg(class="icon" fill="#fff")
					use(xlink:href="../img/sprite.svg#timer")
		
		.article
			.article__title
				| Card with ingrate video on touch
			.article__content
				.lobby
					.lobby__item(data-src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.webm")
						.lobby__wrapper
							a(href="https://google.com")
								img(src="https://i.picsum.photos/id/1070/400/400.jpg", alt="")
								//- video(src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.webm" muted)
						.lobby__title Lorem, ipsum.
					.lobby__item
						.lobby__wrapper
							a(href="https://google.com")
								img(src="https://i.picsum.photos/id/1070/400/400.jpg", alt="")
								video(src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.webm" muted)
						.lobby__title Lorem, ipsum.
					.lobby__item
						.lobby__wrapper
							a(href="https://google.com")
								img(src="https://i.picsum.photos/id/1070/400/400.jpg", alt="")
								video(src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.webm" muted)
						.lobby__title Lorem, ipsum.
					.lobby__item
						.lobby__wrapper
							a(href="https://google.com")
								img(src="https://i.picsum.photos/id/1070/400/400.jpg", alt="")
								video(src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.webm" muted)
						.lobby__title Lorem, ipsum.
		
		.article
			.article__title
				| Bootstrap responsive cols
			.article__content
				.row
					.col-4.col-lg-2.col-md-3.col-sm-6.block
						.d-none.d-lg-block col-lg-2
						.d-none.d-md-block.d-lg-none col-md-3
						.d-none.d-sm-block.d-md-none col-sm-6
						.d-block.d-sm-none col-xs-4
					.col-4.col-lg-8.col-md-6.col-sm-6.block
						.d-none.d-lg-block col-lg-8
						.d-none.d-md-block.d-lg-none col-md-6
						.d-none.d-sm-block.d-md-none col-sm-6
						.d-block.d-sm-none col-xs-4
					.col-4.col-lg-2.col-md-3.d-sm-none.d-md-block.block
						.d-none.d-lg-block col-lg-2
						.d-none.d-md-block.d-lg-none col-md-3
						.d-none.d-sm-block.d-md-none col-sm-6
						.d-block.d-sm-none col-xs-4
